@model IEnumerable<MicrobiologyLab.Models.InternshipRequest>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.student_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fundingDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.signature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.student_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fundingDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.signature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.intr_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.intr_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.intr_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
