@model MicrobiologyLab.Models.Freezer_20

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Freezer_20</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Con_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Con_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Req_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Req_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pr_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pr_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Box_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Box_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Box_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Box_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level_num)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level_num)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Side)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Side)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lev_Side)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lev_Side)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cons)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cons)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
