@model MicrobiologyLab.Models.Collaboration

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Collaboration</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Col_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Col_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.institute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.institute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.proj_Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.proj_Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Compounds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Compounds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Test)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Test)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
