@model IEnumerable<MicrobiologyLab.Models.Rotation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.entrancePermission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.photosAndDemandLetter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.inventory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cafeteriaFees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.eventsAndCeremonies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stockUpdates)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderingConsumables)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.entrancePermission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.photosAndDemandLetter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inventory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cafeteriaFees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eventsAndCeremonies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stockUpdates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderingConsumables)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.rot_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.rot_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.rot_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
