@model MicrobiologyLab.Models.Assesment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Assesment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TraineeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TraineeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.work_habits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.work_habits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.communication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.communication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.attitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.attitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.professionalism)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.professionalism)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.leadership)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.leadership)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User_Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
