@model IEnumerable<MicrobiologyLab.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.funding_organism)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.funding_duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fund_amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.from)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.to)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reasearchAssistantFees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.congress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fieldFees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.publicationAndPatentFees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.consumables)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.machinesAndEquipements)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.others)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.funding_organism)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.funding_duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fund_amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.from)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.to)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reasearchAssistantFees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.congress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fieldFees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publicationAndPatentFees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.consumables)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.machinesAndEquipements)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.others)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.proj_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.proj_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.proj_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
